h1 {
  color: red
}

.box {
  border: 1px solid gray;
  border-radius: 10px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  width: strech;
}

.mini-box {
  border: 1px solid gray;
  width: 20px;
  height: 10px;
  /* margin: 10px; */
}